#Byte-compiled / optimized / DLL files
env/
temp.py
/keys/
__pycache__
/token_verification/
/vm_pcr_verification/
/attestation-and-verification.py/
/test-function.py/
docker-compose.yml
loadedDict.pkl
tokens.json